<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

<!--连接oracle -->
	<!--<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
			destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@10.70.11.138:1521:orcl"></property>
		<property name="username" value="gbdatabase"></property>
		<property name="password" value="123456"></property>
		<property name="maxActive" value="100"></property>
		<property name="maxIdle" value="30"></property>
		<property name="maxWait" value="500"></property>
		<property name="defaultAutoCommit" value="true"></property>
	</bean>-->

<!--连接mysql -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<!-- modi by liujun -->
		<!--  <property name="url" value="jdbc:mysql://10.96.246.253:3306/gbdatabase"></property> -->
		<property name="url" value="jdbc:mysql://127.0.0.1:3307/gbdatabase"></property>
		<property name="username" value="root"></property>
		<property name="password" value="asdfdc"></property>
		<!-- <property name="password" value="hn@sqjz123"></property> -->
		<property name="maxActive" value="100"></property>
		<property name="maxIdle" value="30"></property>
		<property name="maxWait" value="500"></property>
		<property name="defaultAutoCommit" value="true"></property>
	</bean>
	<!--连接mssql -->
	<!--
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close"> <property name="driverClassName"
		value="com.microsoft.jdbc.sqlserver.SQLServerDriver"></property>
		<property name="url"
		value="jdbc:microsoft:sqlserver://localhost:1433;DatabaseName=webcms"></property>
		<property name="username" value="webcms"></property> <property
		name="password" value="webcms"></property> <property name="maxActive"
		value="100"></property> <property name="maxIdle"
		value="30"></property> <property name="maxWait"
		value="500"></property> <property name="defaultAutoCommit"
		value="true"></property> </bean>
	-->
	<bean id="sessionFactory"  
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
			
				<!-- Oracle的方言
				<prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>-->
				<!-- MySQL的方言-->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				
				<!-- SQL Server的方言 
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
				-->

				<prop key="hibernate.show_sql">Flase</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/gb/bean/Ecinfo.hbm.xml</value>
				<value>com/gb/bean/Bizinfo.hbm.xml</value>
				<value>com/gb/bean/Userinfo.hbm.xml</value>
				<value>com/gb/bean/Userstateinfo.hbm.xml</value>
				<value>com/gb/bean/Log.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- ecinfo 表service配置 -->
	<bean id="ecinfoDao" class="com.gb.dao.impl.EcinfoDAOImpl" scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ecinfoService" class="com.gb.service.impl.EcinfoServiceImpl">
		<property name="ecinfoDao" ref="ecinfoDao"></property>
	</bean>

	<!-- bizinfo 表service配置 -->
	<bean id="bizinfoDao" class="com.gb.dao.impl.BizinfoDAOImpl"
		scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="bizinfoService" class="com.gb.service.impl.BizinfoServiceImpl">
		<property name="bizinfoDao" ref="bizinfoDao"></property>
	</bean>

	<!-- userinfo 表service配置 -->
	<bean id="userinfoDao" class="com.gb.dao.impl.UserinfoDAOImpl"
		scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="userinfoService" class="com.gb.service.impl.UserinfoServiceImpl">
		<property name="userinfoDao" ref="userinfoDao"></property>
	</bean>
	
	
	<!-- userstateinfo 表service配置 -->
	<bean id="userstateinfoDao" class="com.gb.dao.impl.UserstateinfoDAOImpl"
		scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="userstateinfoService" class="com.gb.service.impl.UserstateinfoServiceImpl">
		<property name="userstateinfoDao" ref="userstateinfoDao"></property>
	</bean>

<!-- log 表service配置 -->
	<bean id="logDao" class="com.gb.dao.impl.LogDAOImpl"
		scope="singleton">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="logService" class="com.gb.service.impl.LogServiceImpl">
		<property name="logDao" ref="logDao"></property>
	</bean>
	
	<!--  列表显示调用-->
	<bean id="adminGbAction" class="com.gb.action.AdminGbAction">
		<property name="userinfoService" ref="userinfoService"></property>
		<property name="userstateinfoService" ref="userstateinfoService"></property>
	</bean>
</beans>